.content
{
	height: 100%;
	overflow: scroll;
}
.content::-webkit-scrollbar{
    display:none;
}
.card {
	border: 1px solid #ddd;
	border-radius: 8px;
	overflow: auto;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
	max-width: 380px;
	max-width: 500px;
	width: 100%;
	background-color: #fff;
	display: block;
	justify-content: center;
}
.card-header {
	background-color: #004080;
	color: #fff;
	padding: 10px;
	text-align: center;
	font-weight: bold;
}
.card-body {
	padding: 5px;
}
table {
	border-collapse: collapse;
	width: 100%;
}
th, td {
	border-top: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
	text-align: left;
}
td:nth-child(1) {
	width: 170px;
	padding: 10px;
}
td:nth-child(2) {
	text-align: right;
	padding: 10px;
}
td:nth-child(3) {
	text-align: right;
	padding: 10px;
	width: 140px;
}
#percentage {
	text-align: center
}
input {
	text-align: right;
	font-size: 16px;
	width: 120px;
}
