body {
  background:#004080;
  font-size: 16px;
  color: #ffffff;
  margin: 0;
  padding: 0;
  word-wrap: break-word !important;
  font-family: sans-serif;
}

a {
  color: #FFF;
}

.toggle,
[id^=drop] {
  display: none;
}

nav {
  margin: 0;
  padding: 0;
  background-color: #222;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.logo {
  display: block;
  padding: 0;
  float: left;
  font-size: 16px;
  max-width: 200px;
  max-height: 15px;
  order: 0
}

#igt-logo {
	max-height: 30px; 
}


#main-toggle {
  cursor: pointer;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.nav-icon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  width: 18px;
}

.nav-icon:before,
.nav-icon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}

.nav-icon:before {
  top: 5px;
}

.nav-icon:after {
  top: -5px;
}

nav:after {
  content: "";
  display: table;
  clear: both;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}



nav ul li {
  margin: 0px;
  display: inline-block;
  background-color: #222;
}

nav a {
  display: block;
  padding: 14px 16px 16px;
  color: #FFF;
  font-size: 16px;
  text-decoration: none;
}

nav ul li ul li:hover {
  background: #0055B9;
}

nav a:hover {
  background-color: #0055B9;
}

nav ul ul {
  display: none;
  position: absolute;
  top: 48px;
}

nav ul li:hover>ul {
  display: inherit;
}

nav ul ul li {
  width: 170px;
  float: none;
  display: list-item;
  position: relative;
}

nav ul ul ul li {
  position: relative;
  top: -60px;
  left: 170px;
}

li>a:after {
  content: ' +';
}

li>a:only-child:after {
  content: '';
}

.button {
  order: 3;
}
.button.secondary {
  border-bottom: 1px #444 solid;
}
.menu li.button {
    padding-right: 0;
}
.button.secondary {
  border: 0;
}
.button a {
  padding: 7.5px 15px;
  background: #0055B9;
  border: 1px #0055B9 solid;
  border-radius:50em;
}
.button.secondary a {
  background: transparent;
}
.button a:hover {
  text-decoration: none;
  transition:all .25s;
}
.button:not(.secondary) a:hover {
  background: #004080;
  border-color: #004080;
}
.button.secondary a:hover {
  color: #0055B9;
} 

/* Media Queries
--------------------------------------------- */

@media all and (max-width : 768px) {

  nav {
    margin: 0;
    position: fixed;
  }
  nav ul{
    float:none;
  }
  .toggle+a,
  .menu {
    display: none;
  }

  .toggle {
    display: block;
    background-color: #0055B9;
    padding: 0 20px;
    color: #FFF;
    font-size: 16px;
    line-height: 60px;
    text-decoration: none;
    border: none;
  }

  .toggle:hover {
    background-color: #0055B9;
  }

  [id^=drop]:checked+ul {
    display: block;
  }

  nav ul li {
    display: block;
    width: 100%;
  }

  nav ul ul .toggle,
  nav ul ul a {
    padding: 0 40px;
  }

  nav ul ul ul a {
    padding: 0 80px;
  }

  nav ul ul ul a {
    background-color: #141625;
  }

  nav ul li ul li .toggle,
  nav ul ul a {
    background-color: #1f243b;
  }

  nav ul ul {
    float: none;
    position: static;
    color: #ffffff;
  }

  nav ul ul li:hover>ul,
  nav ul li:hover>ul {
    display: none;
  }

  nav ul ul li {
    display: block;
    width: 100%;
  }

  nav ul ul ul li {
    position: static;

  }
}